.employerMenuContainer{
    background-color: #1c1f25;
    margin: 40px 40px;
    border-radius: 20px;
}

.componentsContainer{
    margin: 15px 15px;
}

.postJobButton{
    color: white;
}

.viewJobsPosted{
    color: white;
}